*.iml
.gradle
/local.properties
/.idea
/.kotlin
/.tmp
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/google-services.json
.DS_Store
/build
/captures
/wrapper
/caches
.externalNativeBuild
.cxx
local.properties
/kotlin-profile
/daemon
